@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}

body {
    font-family: "roboto";
    margin: 0;
    --primary: rgb(162, 198, 255);
    --primaryFocus: rgb(20, 49, 144);
    --secondary: rgb(194, 194, 194);
    --secondaryFocus: rgb(109, 109, 109);
    --warning: rgb(185, 0, 0);
    --txtCorp: .8rem;
}

#lecteur {
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#controller {
    display: flex;
    justify-content: space-around;
    padding: .3rem;
}

#prev img,
#next img {
    width: 2rem;
    height: 2rem;
}

#prev img:hover,
#next img:hover,
#up:hover,
#down:hover {
    cursor: pointer;
}

#volume {
    display: flex;
    justify-content: space-around;
    padding: .3rem;
}

#up img,
#down img {
    width: 1rem;
    height: 1rem;
}

#playPause {
    width: 3rem;
    height: 3rem;
}

#playPause:hover {
    cursor: pointer;
}

#cover {
    width: 400px;
    height: 400px;
    margin: 1rem;
    overflow: hidden;
}

#cover img {
    width: 100%;
}

#time {
    display: flex;
    justify-content: center;
}

#formmp3,
#formUser {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#formmp3 h1,
#formUser h1 {
    margin: .5rem auto;
    color: var(--primaryFocus);
}

.formulaire {
    width: 60vw;
    margin-top: 2vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border: .1rem var(--primary) solid;
    border-radius: 1rem;
    box-shadow: 0 0 1.3rem var(--primary);
}

.formulaire * {
    padding: .5rem;
    margin: .5rem;
}

.formulaire input,
textarea {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: .2rem var(--primaryFocus) solid;
}

.formulaire input:hover,
textarea:hover,
select:hover {
    transition: all .7s;
    background-color: var(--primary);
}

.formulaire input[type=submit] {
    margin: 1rem auto;
    width: 30vw;
    font-weight: 600;
    border-radius: .8rem;
    background-color: var(--primaryFocus);
}

.formulaire input[type=submit]:hover {
    transition: all .7s;
    background-color: var(--primary);
}

.formulaire label {
    margin: 0;
    margin: 0;
    color: var(--primaryFocus);
    font-weight: 600;
    font-size: var(--txtCorp);
}

.inputError {
    margin: 0;
    font-size: .6rem;
    text-decoration: underline;
    color: var(--warning);
}

#slider {
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#articles {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#single {
    display: flex;
    justify-content: space-around;
}

.autoComp {
    position: relative;
}

.divAutoComp {
    display: none;
    padding: 1rem;
    position: absolute;
    top: 40px;
    background: white;
}